node_modules
**/node_modules
*/build
**/dist
.env
**/.env
#packages/*
#**/flatworks
web

#CMS ignore

cms/src/*
!cms/src/layout
!cms/src/dashboard
!cms/src/contracts
!cms/src/plutustx
!cms/src/users

**/flatworks/shellscripts/wallets

#ignore database & certificates
docker-config/dbdata
docker-config/mongobackups
docker-config/certbot

#ignore test files
note.txt
test.ts
test.js

